/.vscode/

**/__pycache__/
**/.pytest_cache/
**/*.pyc

**/*.egg-info/
**/config.json
**/tra_analysis/
**/temp/*

**/errorlog.txt
/dist/superscript.*
/dist/superscript
**/*.pid

**/profile.*

**/*.log
**/errorlog.txt
/dist/*

slurm-tra-superscript.out
config*.json
