requests
pymongo
pandas
tra-analysis

dnspython
pyinstaller
requests
pymongo

numpy
scipy
scikit-learn
six
pyparsing
pandas

kivy==2.0.0rc2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability